In [1]:
# link CADVR to DrugBank

In [5]:
import pandas as pd

In [6]:
data_dir = 'data\\'

In [23]:
# import CADVR 
drug_products = pd.read_csv(data_dir + 'drug_products.txt', delimiter='$', names=['DRUG_PRODUCT_ID', 'DRUGNAME'])

In [24]:
drug_products.head(3)

   DRUG_PRODUCT_ID              DRUGNAME
0                1        ATIVAN TAB 2MG
1                2                AMIKIN
2                3  APO DIAZEPAM TAB 5MG

In [25]:
drug_products.nunique()

DRUG_PRODUCT_ID    34505
DRUGNAME           26551
dtype: int64

In [14]:
# import DrugBank drugs file

db_drugs = pd.read_csv(data_dir + '/drugbank/drugs.csv')

db_drugs.head(3)

,primary_key,other_keys,type,created,updated,name,description,cas_number,unii,average_mass,...,route_of_elimination,volume_of_distribution,clearance,international_brands,pdb_entries,fda_label,msds,food_interactions,drug_interactions_count,toxicity
0,DB00001,"BTD00024,BIOD00024",biotech,2005-06-13,2020-01-02,Lepirudin,Lepirudin is identical to natural hirudin exce...,138068-37-8,Y43GF64R34,NaN,...,Lepirudin is thought to be metabolized by rele...,"* 12.2 L [Healthy young subjects (n = 18, age ...",* 164 ml/min [Healthy 18-60 yrs]\r\n* 139 ml/m...,NaN,0,//s3-us-west-2.amazonaws.com/drugbank/fda_labe...,//s3-us-west-2.amazonaws.com/drugbank/msds/DB0...,0,638,"In case of overdose (eg, suggested by excessiv..."
1,DB00002,"BTD00071,BIOD00071",biotech,2005-06-13,2020-01-02,Cetuximab,Cetuximab is an epidermal growth factor recept...,205923-56-4,PQX0D8J21J,NaN,...,NaN,appeared to be independent of dose and approxi...,Female patients had 25% lower intrinsic cleara...,NaN,0,//s3-us-west-2.amazonaws.com/drugbank/fda_labe...,//s3-us-west-2.amazonaws.com/drugbank/msds/DB0...,0,333,Pulmonary Toxicity\r\n\r\nInterstitial lung di...
2,DB00003,"BTD00001,BIOD00001",biotech,2005-06-13,2020-01-02,Dornase alfa,Dornase alfa is a biosynthetic form of human d...,143831-71-4,953A26OA1Y,NaN,...,NaN,"In studies in rats and monkeys, the initial vo...","Studies in rats indicate that, following aeros...",ViscozymeRoche (Chile),0,//s3-us-west-2.amazonaws.com/drugbank/fda_labe...,//s3-us-west-2.amazonaws.com/drugbank/msds/DB0...,0,0,Adverse reactions occur at a frequency of < 1/...

In [26]:
db_drugs.nunique()

primary_key                13475
other_keys                  4443
type                           2
created                      505
updated                       43
name                       13475
description                 7538
cas_number                  7773
unii                        9127
average_mass                9184
monoisotopic_mass           9225
state                          3
groups_count                   4
articles_count                37
books_count                    8
links_count                   23
synthesis_reference         1462
indication                  3414
pharmacodynamics            2777
mechanism_of_action         3522
metabolism                  1808
absorption                  2013
half_life                   1914
protein_binding             1461
route_of_elimination        1661
volume_of_distribution      1314
clearance                   1220
international_brands        1847
pdb_entries                  218
fda_label                   1303
msds                        1538
food_interactions              7
drug_interactions_count     1325
toxicity                    2111
dtype: int64

In [38]:
drug_products[drug_products['DRUGNAME'].isin(db_drugs['name'].str.upper())].nunique()

DRUG_PRODUCT_ID    3666
DRUGNAME           1557
dtype: int64

In [39]:
# looks like brand name doesnt match up. Try active ingredent.

In [40]:
drug_product_ingredients = pd.read_csv(data_dir + '/drug_product_ingredients.txt', 
                            delimiter='$',
                            header = None,
                            names = ['DRUG_PRODUCT_INGREDIENT_ID','DRUG_PRODUCT_ID','DRUGNAME','ACTIVE_INGREDIENT_ID','ACTIVE_INGREDIENT_NAME'],
                            dtype = {'DRUG_PRODUCT_INGREDIENT_ID':'object', 'DRUG_PRODUCT_ID':'object','ACTIVE_INGREDIENT_ID':'object'})

In [41]:
drug_product_ingredients.head(3)

,DRUG_PRODUCT_INGREDIENT_ID,DRUG_PRODUCT_ID,DRUGNAME,ACTIVE_INGREDIENT_ID,ACTIVE_INGREDIENT_NAME
0,648802442,6488,CO CLOMIPRAMINE TABLETS 25MG,2442,clomipramine hydrochloride
1,64910755,6491,COPPERTONE OIL FREE LOTION SPF 45,755,avobenzone
2,65000701,6500,MULTIVITAMINS + MINERALS FOR ADULTS TABLET,701,vitamin e

In [43]:
drug_product_ingredients[drug_product_ingredients['ACTIVE_INGREDIENT_NAME'].isin(db_drugs['name'].str.upper())].

,DRUG_PRODUCT_INGREDIENT_ID,DRUG_PRODUCT_ID,DRUGNAME,ACTIVE_INGREDIENT_ID,ACTIVE_INGREDIENT_NAME
6762,2268705011136,22687,SODIUM FERRIC GLUCONATE COMPLEX,5011136,SODIUM FERRIC GLUCONATE COMPLEX

In [44]:
#  DB 'name' does not look like an active ingredient either. Try UNIIs instead.

In [51]:
unii = pd.read_csv(data_dir + '/UNIIs/UNII_Names_12Jan2020.TXT', delimiter='\t')

unii.tail(3)

,Name,TYPE,UNII,Display Name
769932,"N(SUP 1)-(4,6-BIETHYL-S-TRIAZIN-2-YL)SULFANILA...",cn,ZZZ3BU4OA7,SULFASYMAZINE
769933,SULFASYMAZINE [INN],cn,ZZZ3BU4OA7,SULFASYMAZINE
769934,SULFASYMAZINE,of,ZZZ3BU4OA7,SULFASYMAZINE

In [52]:
unii_2 = pd.read_csv(data_dir + '/UNIIs/UNII_Records_12Jan2020.txt', delimiter='\t')

unii.tail(3)

,Name,TYPE,UNII,Display Name
769932,"N(SUP 1)-(4,6-BIETHYL-S-TRIAZIN-2-YL)SULFANILA...",cn,ZZZ3BU4OA7,SULFASYMAZINE
769933,SULFASYMAZINE [INN],cn,ZZZ3BU4OA7,SULFASYMAZINE
769934,SULFASYMAZINE,of,ZZZ3BU4OA7,SULFASYMAZINE

In [48]:
unii.nunique()

UNII               108277
PT                 108277
RN                  73815
EC                  23048
NCIT                14936
RXCUI               11377
PUBCHEM             61982
ITIS                 8488
NCBI                11870
PLANTS               5915
GRIN                10012
MPNS                 9551
INN_ID               9871
MF                  39158
INCHIKEY            60581
SMILES              72066
INGREDIENT_TYPE         5
dtype: int64

In [54]:
# check for active ingreident in UNII 'Display Name'

drug_product_ingredients[drug_product_ingredients['ACTIVE_INGREDIENT_NAME'].isin(unii['Display Name'].str.upper())]

,DRUG_PRODUCT_INGREDIENT_ID,DRUG_PRODUCT_ID,DRUGNAME,ACTIVE_INGREDIENT_ID,ACTIVE_INGREDIENT_NAME
6762,2268705011136,22687,SODIUM FERRIC GLUCONATE COMPLEX,5011136,SODIUM FERRIC GLUCONATE COMPLEX
178701,2135905011752,21359,DEFIBROTIDE,5011752,DEFIBROTIDE SODIUM

# Check for external links in DrugBank